body{
  margin: 0 auto;
  background-image: url("../img/MUNDO.jpg");
  background-repeat: no-repeat;
  background-size: 100% 720px;
}

header{
  background-color: #075B14;
  display: inline-block;
  width: 100%;
  color: white;

}

.titulo{
  display: inline-block;
  position: absolute;
  top: 30px;
}

.logo{
  width: 120px;
  height: 120px;
  display: inline-block;
  margin : 10px;
  margin-right: 20px;

}
.imagen_logo{
  width: 100%;
  height: 100%;
}


.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #075B14;

}
.navbar-header img {
	width: 110px;
	height: 70px;

}


.imag{
	width: 300px;
	height: 150px;
}
#img1{
	vertical-align: middle;

}
.imgcon{
	width: 150px;
	height: 150px
}

#border{
    border-style:ridge;
}
#letra{
    font-family:Times New Roman;
    font-size: 40px;
}
