body{
	padding-top: 80px; 
}
.col-md-3{
	background-color: #AED6F1;
}

.col-md-3 a {
	color: #000000;
}

.container-fluid {
	background-color: #AED6F1;
}

footer .col-md-6{
	background-color: #D6DBDF;
}